@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #ffbd29;
  --background-color: #565252;
  --neutral-color: #022fd0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btnRegistro {
  margin-top: 4px;
  margin-left: 20px;
}

.optionNavbar {
  color: white;
  margin-left: 20px;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.optionNavbar:hover {
  color: white;
  height: 40px;
}

.optionSelect {
  width: 65px;
  color: white;
  margin-top: 2px;
  font-family: "Raleway", sans-serif;
}

.titlleBusi {
  color: white;
  -webkit-text-stroke: 0.5px #000;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 20vw;
  width: 80vw;
  text-align: center;
  margin-right: 10vw;
  font-family: "Merriweather", serif;
}

.contBusi {
  color: #000;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  margin-top: 20px;
  margin-left: 30px;
  width: 60vw;
  text-align: start;
  font-weight: bold;
}

.site-calendar-demo-card {
  width: 50vw;
  border: 1px solid var(--background-color);
  border-radius: 20px;
  padding: 20px;
  scroll-behavior: auto;
  margin-left: 15vw;
  margin-top: 100px;
  color: var(--primary-color);
}

.l {
  text-align: center;
  position: fixed;
  color: var(--primary-color);
  font-family: "Merriweather", serif;
}

.titlleEvents {
  color: #000;
  -webkit-text-stroke: 0.5px #000;
  font-size: 2, 5rem;
  font-weight: bold;
  padding-top: 100px;
  width: 80vw;
  text-align: center;
  margin-left: 3, 5vw;
  font-family: "Merriweather", serif;
}
